 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 360px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 129px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 122px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 5px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1388px;
  margin-top: -5px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 82px;
  grid-auto-columns: 11.1111%;
  grid-template-columns: 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-4 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-5 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-6 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-7 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-8 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  margin: 0 -30px 0 auto;
  padding: 0 29px 0 28px;
}

.u-section-2 .u-icon-9 {
  font-size: 3.1876em;
  background-image: none;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: -2px;
  width: 51px;
  height: 51px;
  background-image: none;
  top: 16px;
  padding: 8px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 51px;
  height: 51px;
  left: auto;
  top: 17px;
  background-image: none;
  right: 1px;
  padding: 8px;
}

.u-section-2 .u-list-2 {
  width: 303px;
  margin: -21px auto 26px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-repeater-2 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 11.11111111111111%;
    grid-template-columns: repeat(9, 11.11111111111111%);
  }

  .u-section-2 .u-btn-1 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    padding-right: 45px;
    padding-left: 44px;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 0;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 20%;
    grid-template-columns: repeat(5, 20%);
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 0;
  }

  .u-section-2 .u-list-2 {
    margin-top: -25px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: -5px;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .u-section-2 .u-list-2 {
    margin-top: -21px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 121px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -3px;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-list-2 {
    margin-top: -27px;
    margin-bottom: 30px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 46px;
}

.u-section-3 .u-text-1 {
  text-decoration: underline !important;
  margin: 5px 0 -583px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-bottom: -1314px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-bottom: -2030px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-bottom: -2701px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 38px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: -2709px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 118px;
}

.u-section-4 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 60px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-top: 30px;
  }
}